*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 50vh;
    background-color:#799162;
    background-image: url(/../WSOA3028A_2597062/Images/lion.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: left;
    
}
h1{
    color: #540302;
}
p{
    color: black;
}
#p1{
    color: darkblue;
    font-family: 'Georgia', Times New Roman, Times, serif;
    background-color: #ebdfa6;
    border-style: double;
    border-width: 10px;
    border-color: #540302;
    padding: 5px;
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250xp;
    font-size: 22px;
    background-color: #ab3130;
}

